body {
    background-color: #526b81;
    font-family: Georgia;
    display: grid;
    grid-template-columns: [lside] auto [separator] 432px [rside];
}

header {
    text-align: center;
}

.mainpart {
    grid-column-start: lside;
    grid-column-end: separator;
}

.sidebar {
    grid-column-start: separator;
    grid-column-end: rside;
}

div {
    padding : 1%;
    border: solid black;
}

h1 {
    color: aliceblue;
}

p {
    color: aliceblue;
}

img {
    width:432px;
    height:540px; 
    border:2px solid aliceblue;
}