body {
    background-color: #526b81;
    font-family: Georgia;
}

.leftdiv {
    float: left;
    width: 40%;
}

.rightdiv {
    float: right;
    width: 40%
}

div {
    padding : 1%;
}

h1 {
    color: aliceblue;
}

p {
    color: aliceblue;
}

img {
    width:432px;
    height:540px; 
    border:2px solid aliceblue;
}