body {
    background-color: #526b81;
    font-family: Georgia;
    display: grid;
    grid-template-columns: [lside] auto [col_separator] 432px [rside];
    grid-template-rows: [topline] 20% [row_separator] auto [bottomline];
}

.namespot {
    text-align: center;
    grid-row-start: topline;
    grid-row-end: row_separator;
    grid-column-start: lside;
    grid-column-end: rside;
}

.mainpart {
    grid-column-start: lside;
    grid-column-end: col_separator;
    grid-row-start: row_separator;
    grid-row-end: bottomline;
}

.sidebar {
    grid-column-start: separator;
    grid-column-end: rside; 
    grid-row-start: row_separator;
    grid-row-end: bottomline;
}

div {
    padding : 1%;
}

h1 {
    color: aliceblue;
}

p {
    color: aliceblue;
}

img {
    width:432px;
    height:540px; 
    border:2px solid aliceblue;
}

a:link {
    color:lightgray
}

a:visited {
    color:#dcb0f7;
}